In [3]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv(r"C:\Users\wilme\OneDrive\Documentos\GitHub\Repositorio-secreto-Scielo\Data\scopus_final.csv")

C:\Users\wilme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#df.sort_values(by="Cited_by",ascending=False)   cuando necesite ordenar

In [5]:
df2 = df

In [6]:
# Se establecen las condiciones para la valoracion de los articulos mas populares y menos populares
condiciones = [
    (df2['Cited_by'] >= 1) ,
    (df2['Cited_by'] < 1) 
   
    
]
eleccion = ['1', '0']
df2['nivel_de_citacion'] = np.select(condiciones, eleccion, default='error')
df2.head()

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,C_11,C_13,C_12,C_14,C_15,C_16,C_17,C_18,C_19,nivel_de_citacion
0,0,57209325639,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,0
1,1,57209308260,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,0
2,2,57201482981,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Jahani F.,0,1,...,1,0,8,6,9,6,0,0,8,0
3,3,57209301343,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Erfanian Z.,0,1,...,1,0,8,6,9,6,0,0,8,0
4,4,26632069100,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Moodi H.,0,1,...,1,0,8,6,9,6,0,0,8,0

In [7]:
df2.columns

Index(['Unnamed: 0', 'Author(s)_ID_Rev', 'Title', 'Year', 'Source_title',
       'Document_Type', 'Abstract', 'Authors_Rev', 'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 'Cited_by',
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'SNIP', 'SJR', 'Scopus Sub-Subject Area', 'h-index',
       'Abstract_ing', 'Clean_Abstract', 'C_3', 'C_4', 'C_5', 'C_6', 'C_7',
       'C_8', 'C_9', 'C_10', 'C_11', 'C_13', 'C_12', 'C_14', 'C_15', 'C_16',
       'C_17', 'C_18', 'C_19', 'nivel_de_citacion'],
      dtype='object')

In [8]:
dataset = df2[['Year', 'Source_title',
          'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'Scopus Sub-Subject Area', 'h-index',
        'nivel_de_citacion']]

In [9]:

# Clasificacion de los parametros
X = dataset.iloc[:, [0,20]].values
y = dataset.iloc[:, 21].values

In [10]:
X = dataset.iloc[:, [0,20]].values
y = dataset.iloc[:, 21].values

In [11]:
clf = DecisionTreeClassifier(max_depth=None, min_samples_split=2,random_state=0)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.869459705167699

In [12]:
clf = RandomForestClassifier(n_estimators=10, max_depth=None,
...     min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.869459705167699

In [13]:
clf = ExtraTreesClassifier(n_estimators=10, max_depth=None,
...     min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y, cv=10)
scores.mean()

0.8697067466116056

In [14]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=100)
scores = cross_val_score(clf,X,y, cv=5)
scores.mean()

0.8697069494244211