In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'Data/scopus_bd_aumentada.csv', sep=",")

C:\Users\YORLEY\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['Authors', 'Author(s)_ID', 'Authors_Rev', 'Author(s)_ID_Rev', 'Title',
       'Year', 'Source_title', 'Volume', 'Issue', 'Art._No.', 'Page_start',
       'Page_end', 'Page_count', 'Cited_by', 'DOI', 'Link', 'Affiliations',
       'Authors_with_affiliations', 'Abstract', 'Author_Keywords',
       'Index_Keywords', 'ISSN', 'ISBN', 'CODEN', 'PubMed_ID', 'Document_Type',
       'Publication_Stage', 'Access_Type', 'Source', 'EID'],
      dtype='object')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177350 entries, 0 to 177349
Data columns (total 30 columns):
Authors                      177350 non-null object
Author(s)_ID                 177350 non-null object
Authors_Rev                  177350 non-null object
Author(s)_ID_Rev             177132 non-null object
Title                        177350 non-null object
Year                         177350 non-null int64
Source_title                 177350 non-null object
Volume                       173848 non-null object
Issue                        171373 non-null object
Art._No.                     11709 non-null object
Page_start                   161714 non-null object
Page_end                     159858 non-null object
Page_count                   1287 non-null float64
Cited_by                     115720 non-null float64
DOI                          97162 non-null object
Link                         177350 non-null object
Affiliations                 174552 non-null object
Authors_with_affiliations    176960 non-null object
Abstract                     177350 non-null object
Author_Keywords              150529 non-null object
Index_Keywords               107541 non-null object
ISSN                         177048 non-null object
ISBN                         129 non-null object
CODEN                        35972 non-null object
PubMed_ID                    9357 non-null object
Document_Type                177255 non-null object
Publication_Stage            177350 non-null object
Access_Type                  85133 non-null object
Source                       177350 non-null object
EID                          177350 non-null object
dtypes: float64(2), int64(1), object(27)
memory usage: 40.6+ MB

In [4]:
df.head(5)

,Authors,Author(s)_ID,Authors_Rev,Author(s)_ID_Rev,Title,Year,Source_title,Volume,Issue,Art._No.,...,Index_Keywords,ISSN,ISBN,CODEN,PubMed_ID,Document_Type,Publication_Stage,Access_Type,Source,EID
0,Vanzolini P.E.,6602373241,Vanzolini P.E.,6602373241,"On Gymnodactylus amarali Barbour, 1925, with t...",2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,animal; article; Brazil; classification; compa...,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044450573
1,De Wagener A.L.R.,7004422261,De Wagener A.L.R.,7004422261,Constraints to the implementation of effective...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; developing country; environmental mon...,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044447222
2,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Mexias A.S.,11739855600,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319
3,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Berger G.,7202349172,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319
4,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Gomes M.E.B.,11738879800,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319

In [5]:
df_authors = df[['Authors','Author(s)_ID_Rev']][:].drop_duplicates()

In [58]:
len(df_authors['Authors'])

171620

In [7]:
df_authors.head(10)

                                             Authors Author(s)_ID_Rev
0                                     Vanzolini P.E.       6602373241
1                                  De Wagener A.L.R.       7004422261
2  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...      11739855600
3  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...       7202349172
4  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...      11738879800
5  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...       6603689065
6  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...       6507369527
7  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...      11739533300
8  Mexias A.S., Berger G., Gomes M.E.B., Formoso ...      11739290800
9                                          Mulloy B.      55179052500

### Total Citaciones

In [35]:
df_temp=df[['Author(s)_ID_Rev', 'Cited_by']].groupby(by='Author(s)_ID_Rev').sum()
df_temp.reset_index(level=0, inplace=True)
df_temp.head()

  Author(s)_ID_Rev  Cited_by
0                1       0.0
1      10038943700      12.0
2      10039167100       9.0
3      10039295200      19.0
4      10039317900      22.0

In [37]:
df_authors = df_authors.merge(right=df_temp, how='inner', on='Author(s)_ID_Rev')
len(df_authors['Cited_by'])

171620

In [10]:
df_authors.head()

,Authors,Author(s)_ID_Rev,Cited_by
0,Vanzolini P.E.,6602373241,62.0
1,"Vanzolini P.E., Calleffo M.E.V.",6602373241,62.0
2,De Wagener A.L.R.,7004422261,6.0
3,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600,11.0
4,"Bongiolo E.M., Bongiolo D.E., Sardini P., Mexi...",11739855600,11.0

### Total Artículos publicados

In [40]:
df_temp=df[['Author(s)_ID_Rev', 'Title']].groupby(by='Author(s)_ID_Rev').count()
#Convierte el indice en otro campo
df_temp.reset_index(level=0, inplace=True)
len(df_temp)
#df_temp.head(5)

113948

In [45]:
df['Title'].isna().count()

177350

In [41]:
df_temp.head(5)

  Author(s)_ID_Rev  Title
0                1      2
1      10038943700      1
2      10039167100      1
3      10039295200      3
4      10039317900      1

In [53]:
df_temp = df.pivot_table(index='Author(s)_ID_Rev', values='Title', aggfunc='count')
#Convierte el indice en otro campo
df_temp.reset_index(level=0, inplace=True)
df_temp =df_temp.sort_values(by='Title',ascending=False)

len(df_temp)

113948

In [55]:
df_temp.head(n=10)

               Author(s)_ID_Rev  Title
113947  [No author id available    390
101823               7005911314     88
105632               7102979264     83
103635               7007046984     69
38757               55663326200     59
3499                15021490600     58
100976               7005373508     57
17969               35312606600     57
101764               7005870447     55
102202               7006115745     54