<img src="http://diracad.bogota.unal.edu.co/resources/directorio_acompanamiento_estudiantil/img/logo_cursos_lecto_escritura.png" width="300">

## Modelo de clasificacion de mediante arboles de decision para predecir la citacion de articulos

In [5]:
# Importamos las librerias

import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split # componente que nos permite hacer la particion
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix # Componente del paquete para esta funcionalidad
from sklearn.metrics import accuracy_score # revisar el nivel de precicion

In [6]:
df = pd.read_csv(r"C:\Users\wilme\OneDrive\Documentos\GitHub\Repositorio-secreto-Scielo\Data\scopus_final.csv")
df.head(5)

C:\Users\wilme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,C_10,C_11,C_13,C_12,C_14,C_15,C_16,C_17,C_18,C_19
0,0,57209325639,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,8,1,0,8,6,9,6,0,0,8
1,1,57209308260,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,8,1,0,8,6,9,6,0,0,8
2,2,57201482981,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Jahani F.,0,1,...,8,1,0,8,6,9,6,0,0,8
3,3,57209301343,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Erfanian Z.,0,1,...,8,1,0,8,6,9,6,0,0,8
4,4,26632069100,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Moodi H.,0,1,...,8,1,0,8,6,9,6,0,0,8

In [ ]:
#df.sort_values(by="Cited_by",ascending=False)   cuando necesite ordenar

In [13]:
df2 = df

In [14]:
# Se establecen las condiciones para la valoracion de los articulos mas populares y menos populares
condiciones = [
    (df2['Cited_by'] >= 1) ,
    (df2['Cited_by'] < 1) 
   
    
]
eleccion = ['1', '0']
df2['nivel_de_citacion'] = np.select(condiciones, eleccion, default='error')
df2.head()

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,C_11,C_13,C_12,C_14,C_15,C_16,C_17,C_18,C_19,nivel_de_citacion
0,0,57209325639,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,0
1,1,57209308260,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,0
2,2,57201482981,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Jahani F.,0,1,...,1,0,8,6,9,6,0,0,8,0
3,3,57209301343,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Erfanian Z.,0,1,...,1,0,8,6,9,6,0,0,8,0
4,4,26632069100,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Moodi H.,0,1,...,1,0,8,6,9,6,0,0,8,0

In [15]:
# Revisar cuantos articulos tiene el nivel de popularidad

df2['nivel_de_citacion'].value_counts()

1    24667
0    23862
Name: nivel_de_citacion, dtype: int64

In [16]:
df2['Cited_by'].quantile([0.25, 0.5,  0.75,0.9])

0.25    0.0
0.50    1.0
0.75    2.0
0.90    5.0
Name: Cited_by, dtype: float64

In [17]:
df2['Cited_by'].max()

221

In [18]:
df2.columns

Index(['Unnamed: 0', 'Author(s)_ID_Rev', 'Title', 'Year', 'Source_title',
       'Document_Type', 'Abstract', 'Authors_Rev', 'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 'Cited_by',
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'SNIP', 'SJR', 'Scopus Sub-Subject Area', 'h-index',
       'Abstract_ing', 'Clean_Abstract', 'C_3', 'C_4', 'C_5', 'C_6', 'C_7',
       'C_8', 'C_9', 'C_10', 'C_11', 'C_13', 'C_12', 'C_14', 'C_15', 'C_16',
       'C_17', 'C_18', 'C_19', 'nivel_de_citacion'],
      dtype='object')

In [19]:
dataset = df2[['Year', 'Source_title',
          'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'Scopus Sub-Subject Area', 'h-index',
        'nivel_de_citacion']]

dataset.head(5)

,Year,Source_title,Total_Citation,Total_Title,Max_Citation,Total_Journal,Delta_publications,autor_career,citation_journal,Delta_coautores,...,journal_mean_citation,index,CiteScore,Percentile,Citation Count,Scholarly Output,Percent Cited,Scopus Sub-Subject Area,h-index,nivel_de_citacion
0,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,Multidisciplinary,0.0,0
1,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,Multidisciplinary,0.0,0
2,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,Multidisciplinary,0.0,0
3,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,Multidisciplinary,0.0,0
4,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,Multidisciplinary,0.0,0

In [20]:

# Clasificacion de los parametros
X = dataset.iloc[:, [0,20]].values
y = dataset.iloc[:, 21].values

In [21]:
# Dividir el data set en conjunto de entrenamiento y conjunto de testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [22]:
# Ajustar el clasificador de Árbol de Decisión en el Conjunto de Entrenamiento son varios clasificadores o modelos 
#entropy es uno
classifier = DecisionTreeClassifier(criterion = "gini", random_state = 2)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=2,
            splitter='best')

In [23]:
# Predicción de los resultados con el Conjunto de Testing
y_pred  = classifier.predict(X_test)

In [24]:
# Elaborar una matriz de confusión

cm = confusion_matrix(y_test, y_pred)

In [25]:
cm

array([[4546, 1438],
       [ 153, 5996]], dtype=int64)

In [26]:

accuracy_score(y_test, y_pred)

0.8688700239017555

In [27]:
all_accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=20)

all_accuracies

array([0.87032967, 0.86483516, 0.88241758, 0.86813187, 0.86263736,
       0.88021978, 0.88186813, 0.85659341, 0.87582418, 0.87417582,
       0.86263736, 0.88626374, 0.84835165, 0.86483516, 0.87692308,
       0.86593407, 0.86758242, 0.86648352, 0.86743674, 0.87513751])

In [28]:
all_accuracies.mean()

0.8699309106734849