In [2]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\wilme\OneDrive\Documentos\GitHub\Repositorio-secreto-Scielo\Data\scopus_final.csv")
df.head(5)

C:\Users\wilme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,C_10,C_11,C_13,C_12,C_14,C_15,C_16,C_17,C_18,C_19
0,0,57209325639,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,8,1,0,8,6,9,6,0,0,8
1,1,57209308260,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,8,1,0,8,6,9,6,0,0,8
2,2,57201482981,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Jahani F.,0,1,...,8,1,0,8,6,9,6,0,0,8
3,3,57209301343,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Erfanian Z.,0,1,...,8,1,0,8,6,9,6,0,0,8
4,4,26632069100,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Moodi H.,0,1,...,8,1,0,8,6,9,6,0,0,8

In [ ]:
#df.sort_values(by="Cited_by",ascending=False)   cuando necesite ordenar

In [5]:
df2 = df

In [57]:
# Se establecen las condiciones para la valoracion de los articulos mas populares y menos populares
condiciones = [
    (df2['Cited_by'] >= 5) ,
    (df2['Cited_by'] < 5) & (df2['Cited_by'] >= 2),
    (df2['Cited_by'] < 2) & (df2['Cited_by'] >= 1),
    (df2['Cited_by'] < 1) & (df2['Cited_by'] >=0)
  
    
]
eleccion = ['1', '2', '3','4']
df2['nivel_de_citacion'] = np.select(condiciones, eleccion, default='error')
df2.head()

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,C_11,C_13,C_12,C_14,C_15,C_16,C_17,C_18,C_19,nivel_de_citacion
0,0,57209325639,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,4
1,1,57209308260,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Hassanzadeh-Taheri M.,0,1,...,1,0,8,6,9,6,0,0,8,4
2,2,57201482981,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Jahani F.,0,1,...,1,0,8,6,9,6,0,0,8,4
3,3,57209301343,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Erfanian Z.,0,1,...,1,0,8,6,9,6,0,0,8,4
4,4,26632069100,The impact of long-term consumption of diets e...,2019,Anais da Academia Brasileira de Ciencias,Article,"To date, most of studies have only focused on ...",Moodi H.,0,1,...,1,0,8,6,9,6,0,0,8,4

In [58]:
# Revisar cuantos articulos tiene el nivel de popularidad

df2['nivel_de_citacion'].value_counts()

4    23862
2    10459
3     9080
1     5128
Name: nivel_de_citacion, dtype: int64

In [59]:
df2['Cited_by'].quantile([0.25, 0.5,  0.75,0.9])

0.25    0.0
0.50    1.0
0.75    2.0
0.90    5.0
Name: Cited_by, dtype: float64

In [60]:
df2['Cited_by'].max()

221

In [61]:
df2.columns

Index(['Unnamed: 0', 'Author(s)_ID_Rev', 'Title', 'Year', 'Source_title',
       'Document_Type', 'Abstract', 'Authors_Rev', 'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 'Cited_by',
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'SNIP', 'SJR', 'Scopus Sub-Subject Area', 'h-index',
       'Abstract_ing', 'Clean_Abstract', 'C_3', 'C_4', 'C_5', 'C_6', 'C_7',
       'C_8', 'C_9', 'C_10', 'C_11', 'C_13', 'C_12', 'C_14', 'C_15', 'C_16',
       'C_17', 'C_18', 'C_19', 'nivel_de_citacion'],
      dtype='object')

In [62]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
df2["Scopus Sub-Subject Area"] = enc.fit_transform(df["Scopus Sub-Subject Area"])

In [67]:
dataset = df2[['Year', 'Source_title',
          'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 
       'Years', 'cant_coautores', 'journal_mean_citation', 'index',
       'CiteScore', 'Percentile', 'Citation Count', 'Scholarly Output',
       'Percent Cited', 'Scopus Sub-Subject Area', 'h-index',
        'nivel_de_citacion']]

dataset.head(5)

,Year,Source_title,Total_Citation,Total_Title,Max_Citation,Total_Journal,Delta_publications,autor_career,citation_journal,Delta_coautores,...,journal_mean_citation,index,CiteScore,Percentile,Citation Count,Scholarly Output,Percent Cited,Scopus Sub-Subject Area,h-index,nivel_de_citacion
0,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,20,0.0,4
1,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,20,0.0,4
2,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,20,0.0,4
3,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,20,0.0,4
4,2019,Anais da Academia Brasileira de Ciencias,0,1,0,1,1,0,9.146637,5,...,9.146637,0,1.19,79,778,654,55,20,0.0,4

In [83]:

# Clasificacion de los parametros
X = dataset.iloc[:, [0,20]].values
y = dataset.iloc[:, 21].values

In [74]:
# Dividir el data set en conjunto de entrenamiento y conjunto de testing
from sklearn.model_selection import train_test_split # componente que nos permite hacer la particion
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [94]:
# Ajustar el clasificador de Árbol de Decisión en el Conjunto de Entrenamiento son varios clasificadores o modelos 
#entropy es uno
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = "gini", random_state = 2)
classifier.fit(X_train, y_train)


from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=20)

In [95]:
all_accuracies

array([0.61525796, 0.61361142, 0.61285008, 0.60131796, 0.60164835,
       0.61318681, 0.62527473, 0.60054945, 0.61318681, 0.62087912,
       0.60384615, 0.62362637, 0.60417812, 0.59538208, 0.61792194,
       0.60472787, 0.61737218, 0.61407367, 0.610011  , 0.61716172])

In [98]:
all_accuracies.mean()

0.6113031894093748

In [76]:
# Predicción de los resultados con el Conjunto de Testing
y_pred  = classifier.predict(X_test)

In [77]:
# Elaborar una matriz de confusión
from sklearn.metrics import confusion_matrix # Componente del paquete para esta funcionalidad
cm = confusion_matrix(y_test, y_pred)

In [78]:
cm

array([[   0, 1216,    0,   48],
       [   0, 2341,    1,  275],
       [   0, 1744,    0,  524],
       [   0,  902,    1, 5081]], dtype=int64)

In [79]:
y_test

array(['3', '2', '4', ..., '4', '4', '4'], dtype=object)

In [80]:
y_pred

array(['2', '2', '4', ..., '4', '4', '4'], dtype=object)

In [81]:
from sklearn.metrics import accuracy_score # revisar el nivel de precicion
accuracy_score(y_test, y_pred)

0.6117201022006099

In [86]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          1       0.00      0.00      0.00      1264
          2       0.38      0.89      0.53      2617
          3       0.00      0.00      0.00      2268
          4       0.86      0.85      0.85      5984

avg / total       0.50      0.61      0.54     12133

C:\Users\wilme\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)