In [1]:
import pandas as pd
from datetime import date

In [2]:
import time

In [3]:
df = pd.read_csv(r'Data/scopus_bd_aumentada.csv', sep=",")

C:\Users\ECSIM\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.columns

Index(['Authors', 'Author(s)_ID', 'Authors_Rev', 'Author(s)_ID_Rev', 'Title',
       'Year', 'Source_title', 'Volume', 'Issue', 'Art._No.', 'Page_start',
       'Page_end', 'Page_count', 'Cited_by', 'DOI', 'Link', 'Affiliations',
       'Authors_with_affiliations', 'Abstract', 'Author_Keywords',
       'Index_Keywords', 'ISSN', 'ISBN', 'CODEN', 'PubMed_ID', 'Document_Type',
       'Publication_Stage', 'Access_Type', 'Source', 'EID'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177350 entries, 0 to 177349
Data columns (total 30 columns):
Authors                      177350 non-null object
Author(s)_ID                 177350 non-null object
Authors_Rev                  177350 non-null object
Author(s)_ID_Rev             177132 non-null object
Title                        177350 non-null object
Year                         177350 non-null int64
Source_title                 177350 non-null object
Volume                       173848 non-null object
Issue                        171373 non-null object
Art._No.                     11709 non-null object
Page_start                   161714 non-null object
Page_end                     159858 non-null object
Page_count                   1287 non-null float64
Cited_by                     115720 non-null float64
DOI                          97162 non-null object
Link                         177350 non-null object
Affiliations                 174552 non-null object
Authors_with_affiliations    176960 non-null object
Abstract                     177350 non-null object
Author_Keywords              150529 non-null object
Index_Keywords               107541 non-null object
ISSN                         177048 non-null object
ISBN                         129 non-null object
CODEN                        35972 non-null object
PubMed_ID                    9357 non-null object
Document_Type                177255 non-null object
Publication_Stage            177350 non-null object
Access_Type                  85133 non-null object
Source                       177350 non-null object
EID                          177350 non-null object
dtypes: float64(2), int64(1), object(27)
memory usage: 40.6+ MB

In [6]:
df.head(5)

,Authors,Author(s)_ID,Authors_Rev,Author(s)_ID_Rev,Title,Year,Source_title,Volume,Issue,Art._No.,...,Index_Keywords,ISSN,ISBN,CODEN,PubMed_ID,Document_Type,Publication_Stage,Access_Type,Source,EID
0,Vanzolini P.E.,6602373241,Vanzolini P.E.,6602373241,"On Gymnodactylus amarali Barbour, 1925, with t...",2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,animal; article; Brazil; classification; compa...,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044450573
1,De Wagener A.L.R.,7004422261,De Wagener A.L.R.,7004422261,Constraints to the implementation of effective...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; developing country; environmental mon...,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044447222
2,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Mexias A.S.,11739855600,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319
3,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Berger G.,7202349172,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319
4,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Gomes M.E.B.,11738879800,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,...,article; Butia,13765,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319

In [7]:
df_authors = df[['Authors_Rev','Author(s)_ID_Rev']][:].drop_duplicates(subset='Author(s)_ID_Rev')

In [8]:
len(df_authors['Authors_Rev'])

113949

In [9]:
df_authors.head(10)

         Authors_Rev Author(s)_ID_Rev
0     Vanzolini P.E.       6602373241
1  De Wagener A.L.R.       7004422261
2        Mexias A.S.      11739855600
3          Berger G.       7202349172
4       Gomes M.E.B.      11738879800
5     Formoso M.L.L.       6603689065
6            Dani N.       6507369527
7        Frantz J.C.      11739533300
8      Bongiolo E.M.      11739290800
9          Mulloy B.      55179052500

### Total Citaciones

In [10]:
df_temp=df[['Author(s)_ID_Rev', 'Cited_by']].groupby(by='Author(s)_ID_Rev').sum()
df_temp.reset_index(level=0, inplace=True)
df_temp.head()

  Author(s)_ID_Rev  Cited_by
0                1       0.0
1      10038943700      12.0
2      10039167100       9.0
3      10039295200      19.0
4      10039317900      22.0

In [11]:
df_authors = df_authors.merge(right=df_temp, how='inner', on='Author(s)_ID_Rev')
df_authors.head()

         Authors_Rev Author(s)_ID_Rev  Cited_by
0     Vanzolini P.E.       6602373241      62.0
1  De Wagener A.L.R.       7004422261       6.0
2        Mexias A.S.      11739855600      11.0
3          Berger G.       7202349172       7.0
4       Gomes M.E.B.      11738879800      11.0

### Total Artículos publicados

In [12]:
df_temp=df[['Author(s)_ID_Rev', 'Title']].groupby(by='Author(s)_ID_Rev').count()
#Convierte el indice en otro campo
df_temp.reset_index(level=0, inplace=True)
df_temp.head(5)

  Author(s)_ID_Rev  Title
0                1      2
1      10038943700      1
2      10039167100      1
3      10039295200      3
4      10039317900      1

In [13]:
df_authors = df_authors.merge(df_temp, how='inner', on ='Author(s)_ID_Rev')
df_authors.head()

         Authors_Rev Author(s)_ID_Rev  Cited_by  Title
0     Vanzolini P.E.       6602373241      62.0      5
1  De Wagener A.L.R.       7004422261       6.0      1
2        Mexias A.S.      11739855600      11.0      2
3          Berger G.       7202349172       7.0      1
4       Gomes M.E.B.      11738879800      11.0      2

### Máximo número de citaciones

In [14]:
df_temp=df[['Author(s)_ID_Rev', 'Cited_by']].groupby(by='Author(s)_ID_Rev').max()
df_temp.reset_index(level=0, inplace=True)
df_temp.head()

  Author(s)_ID_Rev  Cited_by
0                1       NaN
1      10038943700      12.0
2      10039167100       9.0
3      10039295200      14.0
4      10039317900      22.0

In [15]:
df_authors = df_authors.merge(right=df_temp, how='inner', on='Author(s)_ID_Rev')
df_authors.columns = ['Authors_Rev', 'Author(s)_ID_Rev', 'Total_Citation', 'Total_Title', 'Max_Citation']
df_authors['Max_Citation'].fillna(0, inplace=True)
df_authors.head()

,Authors_Rev,Author(s)_ID_Rev,Total_Citation,Total_Title,Max_Citation
0,Vanzolini P.E.,6602373241,62.0,5,17.0
1,De Wagener A.L.R.,7004422261,6.0,1,6.0
2,Mexias A.S.,11739855600,11.0,2,7.0
3,Berger G.,7202349172,7.0,1,7.0
4,Gomes M.E.B.,11738879800,11.0,2,7.0

### Número de Revistas

In [16]:
df_temp=df[['Author(s)_ID_Rev', 'Source_title']].groupby(by=['Author(s)_ID_Rev']).nunique()
df_temp = df_temp[['Source_title']]
df_temp.reset_index(level=0, inplace=True)
df_temp.columns = ['Author(s)_ID_Rev','Total_Journal']
df_temp.sort_values(by='Total_Journal', ascending = False, inplace= True)
df_temp.head()

               Author(s)_ID_Rev  Total_Journal
113947  [No author id available             42
11178               24398551800             11
96934                6701841406              8
108619               7403266610              8
3795                15059745800              8

In [58]:
df_authors = df_authors.merge(df_temp, how='inner', on ='Author(s)_ID_Rev')

In [18]:
año_actual=int(date.today().strftime("%Y"))
año_pasado=año_actual-1

In [19]:
df2_años=df[(df['Year']==año_actual) | (df['Year']==año_pasado) ]

### Total Publicaciones últimos dos años

In [20]:
df_temp=df2_años[['Author(s)_ID_Rev', 'Title']].groupby(by='Author(s)_ID_Rev').count()
df_temp.reset_index(level=0, inplace=True)
df_temp.columns = ['Author(s)_ID_Rev','Delta_publications']
df_authors = df_authors.merge(df_temp, how='left', on ='Author(s)_ID_Rev')

In [21]:
df_authors['Delta_publications'].fillna(0, inplace=True)

### Carrera Autor

In [56]:
df_temp = df[['Author(s)_ID_Rev','Year']].groupby(by = 'Author(s)_ID_Rev').min()
df_temp.reset_index(level=0, inplace=True)
df2_temp = df[['Author(s)_ID_Rev','Year']].groupby(by = 'Author(s)_ID_Rev').max()
df2_temp.reset_index(level=0, inplace=True)
df_temp = df_temp.merge(df2_temp, how='left', on='Author(s)_ID_Rev')
df_temp['carrera_autor'] =  df_temp['Year_y'] - df_temp['Year_x']
df_authors = df_authors.merge(df_temp[['Author(s)_ID_Rev','carrera_autor']], how='left', on ='Author(s)_ID_Rev')

### Total Coautores ultimos dos años

#### Leer
* Identificación de Todos los autores
* para cada autor se revisan los papers que en los que aparece
* para cada paper de ese autor se revisan cuantas veces aparece bajo un nombre diferente al del autor superior
* si el autor que aparece no se ha añadido a la lista de coautores se hace.

# Esto se demora corriendo alrededor de 10 minutos
## puedes irte a tomar una bebida caliente mientras tanto
### es en serio :( :(

In [35]:
start = time.time()
#Línea de prueba para correr rápido
#lista_autores = df2_años['Author(s)_ID_Rev'][df2_años['Author(s)_ID_Rev']=='53866250100'].unique()
lista_autores = df2_años['Author(s)_ID_Rev'].unique()[:]
lista_coautores = []
for autor in lista_autores:
    df_paper = df2_años[['Author(s)_ID_Rev','Title']][df2_años['Author(s)_ID_Rev']==autor]
    lista_papers = df_paper['Title']
    coautores = []
    for paper in lista_papers:
        coautor = (df2_años[['Author(s)_ID_Rev','Title']][(df2_años['Title']==paper)&(df2_años['Author(s)_ID_Rev']!=autor)]
                   ['Author(s)_ID_Rev'])
        if len(coautor)==0:
            continue
        else:
            coautor = (df2_años[['Author(s)_ID_Rev','Title']][(df2_años['Title']==paper)&(df2_años['Author(s)_ID_Rev']!=autor)]
                   ['Author(s)_ID_Rev'])
        for c in coautor:
            if c is not coautores:
                coautores.append(c)
    del(df_paper)
    lista_coautores.append([autor,len(coautores)])
end = time.time()
#print((end - start)/60)

In [36]:
#Tiempo de ejecución
(end -start)/60

11.491760043303172

In [38]:
#lista_coautores

In [57]:
df2_temp = pd.DataFrame(lista_coautores, columns=['Author(s)_ID_Rev','Delta_coautores'])

In [40]:
df_authors = df_authors.merge(df2_temp, how='left', on='Author(s)_ID_Rev').sort_values(by='Delta_publications', ascending = False).head()

#######################################################

Continuar a partir de acá

In [77]:
df_authors.to_csv(r'C:/Users/Ecsim/Documents/Data/df_authors.csv')

########################################################

In [64]:
df_temp = df[['Source_title','Cited_by']].groupby(by='Source_title').mean().fillna(0)
df_temp.reset_index(level=0, inplace=True)

In [73]:
df2_temp = df[['Author(s)_ID_Rev','Source_title','Cited_by']].groupby(by=['Author(s)_ID_Rev','Source_title']).mean().fillna(0)
df2_temp.reset_index(level=['Author(s)_ID_Rev','Source_title'],inplace=True)
df2_temp = df2_temp[['Author(s)_ID_Rev','Cited_by']].groupby(by='Author(s)_ID_Rev').mean()
df2_temp.reset_index(level=0,inplace=True)

113948

In [78]:
df_authors

,Authors_Rev,Author(s)_ID_Rev,Total_Citation,Total_Title,Max_Citation,Total_Journal,Delta_publications,Delta_coautores,carrera_autor
0,Guarda T.,53866250100,1.0,20,1.0,1,20.0,60.0,1
1,[No author name available],[No author id available,53.0,390,8.0,42,18.0,0.0,46
2,Alsaedi A.,55664358300,223.0,30,34.0,2,18.0,55.0,6
3,Hayat T.,8856998000,379.0,37,83.0,3,18.0,55.0,8
4,Khan M.,55579497400,132.0,22,33.0,1,17.0,47.0,3